body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke; 
}

header {
    background-color:cornflowerblue
}

.headercontainer {
    display: grid;
    grid-template-columns: 250px auto;
}

.module4lesson2{
    position: absolute;
    top: 90px;
    left: 95px;
    width:100px;
    color: white;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
}

nav {
    background-color: #white;
    display: block;
    width: 60%;
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0px;
    list-style-type: none;
    padding-left: 0px;
    border-top: 2px solid white;
}

nav ul li:nth-child(odd) {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

li {
    padding: 10px;
}

header ul a {
    color: white;
    font-weight: bold;
}

/* skip to main content */
.skip2main {
    position: absolute;
    background: white;
    opacity: .9;
    padding: 15px;
    width: 180px;       
    border: 2px solid darkblue;
    left: -10000px;
}

.skip2main:focus {
    transform: translateX(10010px);
}

main img {
    border: 2px solid cornflowerblue;
    border-radius: 20%;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

/* performers list */
.grid {
    display:grid;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
    width: 100%;
}

.performers {
    font-size: xx-large;;
    font-family: cursive;
    transition-property: size, width, background;
    transition-duration: .5s;
    transition-timing-function: liner;
    transition-delay:4s;
}

.performers p {
    padding: 10px;
}

.performers p:hover {
    size: xx-large;
    color: cornflowerblue;
    width: 400;
    background: white;
    font-weight: bolder;

}

.performers > img {
    border: 3px solid cornflowerblue;
    border-radius: 50%;
    padding: 10px;
}

/* instruments */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    row-gap: 30px;
    margin: 30px;
}

.flex > div {
    background-color: cornflowerblue;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    border-radius: 20px;
}

.flex img {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px sold dodgerblue;
}

/* footer */
footer {
    margin-top: 100px;
    font-size: smaller;
}



/*

header img {
    width: 10%;
    position: relative;
    top: 20px;
}

main {
    background-color: #FFCB05;
    font-size: 150%;
}

footer {
    background-color: #FFCB05;
    padding: 6px;
    font-size: 80%;
}






h1 {
    text-align: center;
    font-family: cursive;
    color: #00274C;
}

p {
    line-height: 120%;
}

.grid {
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
    width: 100%;
}



.grid img {
    width: 100%;
}
*/